@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800&display=swap');
body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #14191e !important;
}

* {
    font-family: 'Barlow', sans-serif !important;
}

.navbar {
    padding: 18px 20px !important;
    background-color: #14191e !important;
}

.navbar .navbar-brand {
    width: 9%;
}

.navbar .navbar-brand img {
    width: 100%;
}

.collapse .navbar-nav .nav-item .nav-link {
    font-size: 20px;
    color: #ffffff !important;
    margin-left: 10px;
}

.collapse .navbar-nav .nav-item {
    position: relative;
}

.collapse .navbar-nav .nav-item .active::after {
    content: "";
    height: 8px;
    width: 85px;
    position: absolute;
    left: 18px;
    top: 35px;
    border-bottom: 3px solid #00f0c8;
}

.collapse .leftIcons .header-button i {
    font-size: 20px;
    color: white;
}

.collapse .leftIcons .header-button {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.collapse .leftIcons .header-button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    margin: 8px;
}

.collapse .leftIcons .header-button:hover {
    background-color: #1c242b;
    border-radius: 25px;
}

.leftIcons .input-group {
    width: 40%;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 25px;
    position: relative !important;
}

.leftIcons .input-group input {
    background-color: transparent !important;
    border: none !important;
    padding: 10px 30px 10px;
    border-radius: 25px !important;
    width: 100% !important;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 25px;
    font-size: 19px;
}

.leftIcons .input-group input:focus,
.textarea:focus {
    box-shadow: 0 0 0 0.2rem #00f0c88c;
}

.leftIcons .input-group i {
    font-size: 15px;
    color: white;
    position: absolute;
    z-index: 11;
    right: 15px !important;
    top: 13px;
}


/* footer css start from here */

.mainFooter {
    background-color: #14191e;
    padding: 95px 20px;
}

.mainFooter .footerLinks {
    margin-bottom: 30px;
}

.mainFooter .footerLinks ul {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainFooter .footerLinks ul li {
    list-style: none;
    color: white;
    margin: 0 10px;
    font-size: 17px;
    font-weight: 400;
}

.mainFooter .footerIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.mainFooter .footerIcons i {
    color: white;
    margin: 0 16px;
    font-size: 18px;
}

.mainFooter .footerimg {
    display: flex;
    justify-content: center;
}

.mainFooter .footerimg img {
    width: 5%;
}


/* footer css start End here */


/* hero sec */

.HeroSection .Program-heading h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    margin-left: 5px;
}

.hero-inputs {
    width: 100%;
}

.hero-sec-second-dropdown {
    width: 30%;
}

.hero-sec-third-dropdown {
    width: 20%;
}

.HeroSection .heroSecInputs-prnt {
    display: flex;
    justify-content: start;
    align-items: center;
    align-items: baseline;
}

.HeroSection .heroSecInputs-prnt .input1 {
    margin-left: 10px;
    width: 50%;
}

.HeroSection p {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-top: 5px;
}

.HeroSection .heroSecInputs-prnt .input1 span {
    background-color: #1c242b;
    color: #fff;
    border: none;
    border-radius: 0 25px 25px 0;
}

select,
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.HeroSection .hero-sec-fst-input {
    border-radius: 25px !important;
    position: relative;
}

.HeroSection .hero-sec-fst-input i {
    position: absolute;
    color: white;
    right: 15px;
    top: 16px;
    z-index: 111;
}

.HeroSection .hero-sec-fst-input .innerinput {
    width: 100% !important;
    padding: 13px 30px 14px;
    background-color: #1c242b;
    border-color: #0000;
    border-radius: 25px;
    color: #fff;
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
}

.dropdown-toggle::after {
    position: absolute;
    right: 20px !important;
    top: 27px !important;
    /* margin-left: 8.255em !important; */
}

.HeroSection .hero-sec-fst-input input:focus {
    box-shadow: 0 0 0 0.2rem #00f0c88c !important;
}

.HeroSection .hero-sec-fst-input span:focus {
    box-shadow: 0 0 0 0.2rem #00f0c88c !important;
}

.HeroSection .hero-sec-second-dropdown .dropdown button {
    padding: 14px 200px 13px 10px;
    background-color: #1c242b;
    border-color: #0000;
    border-radius: 25px;
    color: #fff;
    margin-bottom: 20px !important;
    width: 100%;
}

.HeroSection .hero-sec-second-dropdown .dropdown button:focus {
    box-shadow: 0 0 0 0.2rem #00f0c88c;
}

.dropdown-menu.show {
    background-color: #282e31;
}

.dropdown-menu.show:hover {
    background-color: #282e31 !important;
}

.dropdown-menu.show {
    overflow: auto;
    height: 30vh;
}

.dropdown-menu.show li {
    padding: 10px 0;
}

.dropdown-menu.show li a {
    color: #fff;
}

.hero-sec-second-dropdown {
    width: 25%;
    margin: 0 20px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #1c242b !important;
}

.dropdown-menu.show {
    width: 100% !important;
    border-radius: 25px !important;
}

.hero-sec-third-dropdown {
    width: 25%;
}

.hero-sec-third-dropdown button {
    padding: 14px 40px 15px 40px;
    background-color: #1c242b;
    border-color: #0000;
    border-radius: 25px;
    color: #fff;
    width: 100%;
    text-align: left;
}

.hero-sec-third-dropdown button:hover {
    background-color: #1c242b !important;
}

.hero-sec-third-dropdown button:focus {
    box-shadow: 0 0 0 0.2rem #00f0c88c;
    background-color: #1c242b;
}


/* hero sec */


/* refrence */

.refrence ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 30px;
}

.refrence ul li a {
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.refrence ul li a:hover {
    color: #00f0c8;
}


/* refrence */


/* swiper */

.swiperParent {
    width: 97%;
    margin: 0 auto;
    padding: 0 0 40px 0;
}

.swiper-wrapper {
    padding-right: 20px !important;
}

.swiper h3 {
    font-weight: 700;
    color: #fff;
    margin: 15px 0 !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next:after {
    font-size: 27px !important;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    margin-right: 48px !important;
    font-weight: bolder;
    color: #eedfde;
}

.swiper-button-prev:after {
    font-size: 27px !important;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    font-weight: bolder;
    margin-left: 30px;
    color: #eedfde;
}


/* swiper */


/* second swiper */

.swiper2 {
    margin-top: 20px;
    width: 90%;
}

.secondSwiper {
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #1c242b !important;
    padding: 0 0 20px 0;
}

.secondSwiper h2 {
    color: #fff;
    margin: 20px 0 0 20px;
    font-size: 40px;
    font-weight: 700;
}


/* second swiper */


/* third swiper  */

.swiper3 {
    margin-top: 20px;
    width: 90%;
}

.thirdSwiper {
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #14191e !important;
    padding: 0 0 20px 0;
}

.thirdSwiper h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin: 10px 42px 10px 20px;
}


/* third swiper */


/* main inner section */

.mainInnerHeroPrnt {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.mainInnerLeftImg {
    width: 60%;
    padding: 0 20px;
}

.maininnerrightContant h1,
h3 {
    color: white;
}

.mainInnerLeftImg img {
    width: 100%;
    height: 80vh !important;
    padding: 0px;
    object-fit: cover;
}

.maininnerrightContant {
    width: 38%;
}

.mainInnerButtons {
    display: flex;
    align-items: baseline;
}

.mainInnerHero .mainInnerHeroPrnt .maininnerrightContant p {
    color: #fff;
}

.mainInnerHero .mainInnerHeroPrnt .maininnerrightContant .mainInnerButtons .mainInnerFstButton button {
    background-color: #00f0c8;
    color: #000;
    overflow: hidden;
    padding: 10px 30px;
    font-weight: 700;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    border-radius: 25px;
    transition: .35s;
}

.mainInnerHero .mainInnerHeroPrnt .maininnerrightContant .mainInnerButtons .mainInnerFstButton button:hover {
    background-color: beige;
}

.mainInnerScndButton button {
    border: 3px solid #00f0c8;
    background: transparent;
    color: #000;
    overflow: hidden;
    padding: 10px 30px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    border-radius: 25px;
    margin-left: 20px;
    color: #fff;
    transition: .35s;
}

.mainInnerScndButton button:hover {
    background-color: #334753;
    border: 3px solid #334753;
}

.mainInnerScndButton button a {
    text-decoration: none;
    color: #fff;
}

.button-img {
    filter: invert(0%) sepia(5%) saturate(7481%) hue-rotate(228deg) brightness(0%) contrast(82%);
}


/* main inner section  */


/* first swiper */

.firstswiper {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.firstswiper h2 {
    color: #fff;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-weight: bolder;
    font-size: 27px !important;
    text-transform: none!important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    color: #fff;
}


/* first swiper */


/* second swiper */

.secondSwiper {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.secondSwiper h2 {
    font-size: 40px;
    color: #fff;
    margin: 10px 42px 10px 0px;
}


/* second swiper */